watch_file flake.nix
watch_file flake.lock
watch_file rust-toolchain.toml
if ! use flake . --accept-flake-config
then
  echo "The environment was not loaded. Make the necessary changes to flake.nix and hit enter to try again." >&2
fi
